/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End normalize */


header,
main,
footer {
    font-size: 1.6em;
}

ul,
li {
    display: inline;
    margin: .5em;
    list-style-type: none;
}

button {
    outline: none;
    background-image: url(images/uh\ oh.jpg);
    background-size: 7em;
    background-position: center;
    padding: 4px 8px;
    color: white;
    border: solid white;
    font-size: 1em;
    line-height: 5em;

}

body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 62.5%;
    background-image: url("images/gravel.png");
    background-color: lightskyblue;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bolder;
  margin: .5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .15em;
  padding-left: .8em;
}

.header {
    margin-top: 2em;
    text-align: center;
}

#sub-header {
  font-weight: normal;
  padding-bottom: .5em;
}

.month {
    text-decoration: underline;
}

article,
header {
  padding: 2em;
  margin-top: 2em;
  background-color: rgba(150, 235, 235, 0.747);
  border: .2em solid white;
  box-shadow: .3em .3em .5em grey;
}

p {
  margin: 1em;
  line-height: 1.5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: .3em;
  width: 50%;
  box-shadow: .2em .2em .5em grey;
}

footer {
    padding: .5em;
    text-align: center;
    font-family: Georgia;
}

