/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End normalize */


header,
main,
footer {
    background-color: rgba(156, 234, 240, 0.945);
    font-size: 1.6em;
}

header {
    text-align: center;
}

ul,
li {
    display: inline;
    margin: .5em;
    font-family: Georgia, serif;
}

body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 62.5%;
    font-family: verdana;
    background-color: #303e47;

    
}

h1 {
  font-size: 2.4em;
  font-weight: bolder;
  font-family: Helvetica;
  padding: 1em
  
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  padding-left: .8em;
}

#sub-header {
  font-weight: normal;
  padding-bottom: .5em;
}

title { 
  padding: 20px;
} 

header {
  padding-bottom: 40px;
}

article {
  padding: 2em;
  border: .3em double lightcoral;
}

p {
  margin: 1em;
  line-height: 1.3em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

footer {
    padding: .5em;
}

.month,
footer {
    font-family: arial;
}
